/*
 Theme Name: Vlogger
 Theme URI: https://github.com/taufikfredipratama/Vlogger
 Author: Taufik Fredi Pratama
 Author URI: https://profiles.wordpress.org/taufikfredipratama/
 Description: Vlogger is a beautiful blog or vlog template based on Bootstrap. It has many layouts that absolutely responsive, SEO friendly, WooCommerce integration and other powerful features. Vlogger is the right choice for you who want to attract more fans.
 Version: 1.0.4
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-colors, custom-header, custom-background, custom-menu, custom-logo, featured-images, flexible-header, post-formats, sticky-post, footer-widgets, grid-layout, threaded-comments, blog, e-commerce, news
 Text Domain: vlogger
 */

/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Forms
 * 5.0 - Navigation
 *   5.1 - Links
 *   5.2 - Menus
 *   	5.2.1 - Top Menu Style
 * 		5.2.2 - Primary Menu Style
 *   5.3 - Pagination
 * 6.0 - Accessibility
 * 7.0 - Alignments
 * 8.0 - Clearings
 * 9.0 - Content
 *    9.1 - Header
 *    9.2 - Slider
 *    9.3 - YouTube Playlist
 *    9.4 - Posts and pages
 *    9.5 - Post Formats
 *    9.6 - Sidebar
 *    9.7 - Footer
 * 10.0 - Media
 *    10.1 - Captions
 *    10.2 - Galleries
 * 11.0 - Multisite
 * 12.0 - Media Queries
 *    12.1 - Large Devices <= 1200px
 *    12.2 - Medium Devices <= 992px
 *    12.3 - Small Devices <= 767px
 *    12.4 - Extra Small Devices <= 480px
 */

/**
 * 	1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code, kbd, pre, samp {
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button, input, select, textarea {
	max-width: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-outer-spin-button, input[type="time"]::-webkit-inner-spin-button, input[type="time"]::-webkit-outer-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-outer-spin-button, input[type="week"]::-webkit-inner-spin-button, input[type="week"]::-webkit-outer-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="month"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

/**
 * 2.0 - Typography
 */

body, button, input, select, textarea {
	color: #6b6b6b;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	color: #262626;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

p {
	margin: 0 0 1.75em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border: 0 solid #262626;
	border-left-width: 4px;
	color: #262626;
	font-size: 19px;
	font-style: italic;
	line-height: 1.26315789;
	margin: 0 0 1.26315789em;
	overflow: hidden;
	padding: 0 0 0 20px;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.26315789em;
}

blockquote cite, blockquote small {
	color: #262626;
	display: block;
	font-size: 16px;
	line-height: 1.5;
	margin: 20px 0;
}

blockquote cite:before, blockquote small:before {
	content: "\2014\00a0";
}

blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}

blockquote strong, blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code, kbd, tt, var, samp, pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr, acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark, ins {
	background: #cc181e;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/**
 * 3.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #f5f6f5;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #bababa;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul, ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul, li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table, th, td {
	border: 1px solid #bababa;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
}

/**
 * 4.0 - Forms
 */

input {
	line-height: normal;
}

button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
	background: #262626;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	background: #cc181e;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
	outline: none;
	outline-offset: 0;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 0;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="date"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, input[type="week"]:focus, input[type="month"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
	background-color: #fff;
	border-color: transparent;
	color: #262626;
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

.search-form input[type="search"].search-field {
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
}

.search-form .search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

/**
 * 5.0 - Navigation
 */

/**
 * 5.1 - Links
 */

a {
	color: #cc181e;
	text-decoration: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

a:hover, a:focus, a:active {
	color: #cc181e;
	outline: none;
	outline-offset: 0;
}

.entry-content a, .entry-summary a, .taxonomy-description a, .logged-in-as a, .comment-content a, .pingback .comment-body > a, .textwidget a, .entry-footer a:hover, .site-info a:hover {
	box-shadow: 0 1px 0 0 currentColor;
}

.entry-content a:hover, .entry-content a:focus, .entry-summary a:hover, .entry-summary a:focus, .taxonomy-description a:hover, .taxonomy-description a:focus, .logged-in-as a:hover, .logged-in-as a:focus, .comment-content a:hover, .comment-content a:focus, .pingback .comment-body > a:hover, .pingback .comment-body > a:focus, .textwidget a:hover, .textwidget a:focus {
	box-shadow: none;
}

/**
 * 5.2 - Menus
 */
.sf-menu {
	float: left;
	margin-bottom: 0;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: none;
	border-top: none; /* fallback colour must use full shorthand */
	border-top: none;
	text-decoration: none;
	zoom: 1; /* IE7 */
}

/**
 * 5.2.1 - Top Menu Style
 */

.top-menu-wrapper {
	background: #262626;
}

.top-menu .sf-menu a {
	color: #fff;
	padding: 20px;
}

.top-menu .sf-menu a:hover, .top-menu .sf-menu a:focus, .top-menu .sf-menu a:active {
	background: #cc181e;
}

.top-menu .sf-menu li {
	background: #262626;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

.top-menu .sf-menu ul li {
	background: #262626;
}

.top-menu .sf-menu ul li a {
	padding: 10px 20px;
}

.top-menu .sf-menu ul ul li {
	background: #262626;
}

.top-menu .sf-menu li:hover, .top-menu .sf-menu li.sfHover {
	background: #262626;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.top-menu .sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}

/* styling for both css and generated arrows */
.top-menu .sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #fff; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}

.top-menu .sf-arrows > li > .sf-with-ul:focus:after, .top-menu .sf-arrows > li:hover > .sf-with-ul:after, .top-menu .sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
.top-menu .sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #fff; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}

.top-menu .sf-arrows ul li > .sf-with-ul:focus:after, .top-menu .sf-arrows ul li:hover > .sf-with-ul:after, .top-menu .sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

/* Slicknav for responsive (Top Menu) */
.top-menu-wrapper .slicknav_menu {
	display: none;
	background: #262626;
}

.top-menu-wrapper .slicknav_menu a {
	border-bottom: none;
}

.top-menu-wrapper .slicknav_menu .slicknav_btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #000;
}

.top-menu-wrapper .slicknav_menu .slicknav_nav a:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #000;
	color: #fff;
}

.top-search-form {
	padding-right: 0;
}

.top-search-form form.search-form {
	margin-bottom: 0;
}

.top-search-form input[type="search"].search-field {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 22px;
	background: #000;
	color: #fff;
	border: none;
}

.top-search-form .search-submit {
	display: none;
}

/**
 * 5.2.2 - Primary Menu Style
 */

.primary-menu-wrapper {
	background: #fff;
}

.primary-menu .sf-menu a {
	color: #262626;
	padding: 18px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-weight: 700;
}

.primary-menu .sf-menu a:hover, .primary-menu .sf-menu a:focus, .primary-menu .sf-menu a:active {
	color: #cc181e;
	border-top-color: #cc181e;
	border-bottom-color: #cc181e;
}

.primary-menu .sf-menu li {
	background: #fff;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

.primary-menu .sf-menu ul li {
	background: #fff;
}

.primary-menu .sf-menu ul li a {
	padding: 10px 20px;
}

.primary-menu .sf-menu ul ul li {
	background: #fff;
}

.primary-menu .sf-menu li:hover, .primary-menu .sf-menu li.sfHover {
	background: #fff;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.primary-menu .sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}

/* styling for both css and generated arrows */
.primary-menu .sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #262626; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(38,38,38,.5);
}

.primary-menu .sf-arrows > li > .sf-with-ul:focus:after, .primary-menu .sf-arrows > li:hover > .sf-with-ul:after, .primary-menu .sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: black; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
.primary-menu .sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #262626; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(38,38,38,.5);
}

.primary-menu .sf-arrows ul li > .sf-with-ul:focus:after, .primary-menu .sf-arrows ul li:hover > .sf-with-ul:after, .primarymenu .sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: black;
}

/* Slicknav for responsive (Primary Menu) */
.primary-menu-wrapper .slicknav_menu {
	display: none;
	background: #cc181e;
}

.primary-menu-wrapper .slicknav_menu a {
	border-bottom: none;
}

.primary-menu-wrapper .slicknav_menu .slicknav_btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #000;
}

.primary-menu-wrapper .slicknav_menu .slicknav_nav li:hover a, .primary-menu-wrapper .slicknav_menu .slicknav_nav a {
	color: #fff;
}

.primary-menu-wrapper .slicknav_menu .slicknav_nav a:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #000;
	color: #fff;
}

/**
 * 5.3 - Pagination
 */

.pagination {
	margin: 0;
	width: 100%;
	text-align: center;
	padding: 8px;
}

.pagination .page-numbers {
	padding: 10px 15px;
	background: #262626;
	color: #fff;
}

.pagination .page-numbers.current, .pagination .page-numbers:hover {
	background: #cc181e;
	text-decoration: none;
}

.post-navigation {
	display: block;
    padding: 8px 0;
}

.post-navigation:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
	background: #cc181e;
	padding: 10px 20px;
	color: #fff;
	display: inline-block;
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
	background: #262626;
	text-decoration: none;
}

.post-navigation .nav-previous{
  float: left;
}

.post-navigation .nav-next {
  float: right;
  text-align: right;
}

/**
 * 6.0 - Accessibility
 */

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #262626;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}


/**
 * 7.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}

.centered {
	clear: both;
	display: block;
	width: 100%;
	text-align:center;
}

/**
 * 8.0 - Clearings
 */

.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after,
.alignleft:before,
.alignleft:after,
.alignright:before,
.alignright:after,
.aligncenter:before,
.aligncenter:after,
.post-content:before,
.post-content:after,
.post-header:before,
.post-header:after,
.post-article:before,
.post-article:after,
.post-footer:before,
.post-footer:after {
	content: "";
	display: table;
}

.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after,
.alignleft:before,
.alignleft:after,
.alignright:before,
.alignright:after,
.aligncenter:before,
.aligncenter:after,
.post-content:after,
.post-header:after,
.post-article:after,
.post-footer:after {
	clear: both;
}

/**
 * 9.0 - Content
 */

/**
 * 9.1 - Header
 */

.site-branding-wrapper {
	background: #fff;
	padding: 20px 0 19px;
	border-bottom: 1px solid #bababa;
}

.logo {
	font-size: 34px;
	font-weight: 800;
	display: block;
	clear: both;
}

.site-description {
	color: #262626;
}

.header-banner-wrapper {
	max-height: 125px;
	padding-left: 20px;
	overflow: hidden;
}

img.header-banner {
	height: 100%;
	width: 100%;
}

/**
 * 9.2 - Slider
 */

.flexslider {
	overflow: hidden;
	margin: 0;
	height: 500px;
	border: none;
}

.flexslider .slides img {
	height: 500px;
	object-fit: cover;
}

.flex-control-nav {
	bottom: 10px;
}

.flex-direction-nav {
	overflow: hidden;
}

.flex-direction-nav a:before {
	font-family: FontAwesome;
	font-size: 30px;
	content: '\f137';
	color: rgba(0, 0, 0, 1);
	text-shadow: none;
}

.flex-direction-nav a.flex-next:before {
	content: '\f138';
}

.flexslider:hover .flex-direction-nav .flex-prev {
	left: 20px;
}

.flexslider:hover .flex-direction-nav .flex-next {
	right: 20px;
}

.flexslider .flexslider-caption {
	position: absolute;
	top: 150px;
	margin-left: 400px;
	color: #fff;
	max-width: 800px;
}

.flexslider .flexslider-caption .flexslider-title {
	float: right;
	font-size: 24px;
	padding: 20px;
	background: #cc181e;
	background: rgba(204, 24, 30, 0.6);
	font-weight: bold;
	color: #fff;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.flexslider .flexslider-caption .flexslider-excerpt {
	float: right;
	padding: 20px;
	background: #000;
	background: rgba(0, 0, 0, 0.6);
}

/**
 * 9.3 - Youtube Playlist
 */
.vlogger-ytpl {
	padding: 35px 0;
	background: #262626;
}

.vlogger-ytpl-header {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 1.75em;
	border-bottom: 2px solid #fff;
}

.vlogger-ytpl-header:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 250px;
	background-color: #cc181e;
	content: '';
}

.vlogger-ytpl-title {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.vlogger-ytpl-player {
	padding-left: 0;
	padding-bottom: 0;
	margin: 0;
}

.vlogger-ytpl-player iframe {
	width: 100%;
	height: 430px;
	position: relative;
	margin-bottom: 0;
}

.vlogger-ytpl-playlist {
	padding: 0;
	margin: 0;
}

.vlogger-ytpl-playlist ul {
	padding: 0;
	margin: 0;
	background: #222222;
	max-height: 430px;
	overflow-y: scroll;
}

.vlogger-ytpl-playlist ul::-webkit-scrollbar {
	width: 15px;
}

.vlogger-ytpl-playlist ul::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.2);
}

.vlogger-ytpl-playlist ul::-webkit-scrollbar-thumb {
	background-color: #292929;
}

.vlogger-ytpl-playlist ul::-webkit-scrollbar-corner {
	background-color: #000;
}

.vlogger-ytpl-playlist ul li a.active, .vlogger-ytpl-playlist ul li a:hover {
	background: #3a3a3a;
}

.vlogger-ytpl-playlist ul li a:hover, .vlogger-ytpl-playlist ul li a:active, .vlogger-ytpl-playlist ul li a:focus, .vlogger-ytpl-playlist ul li a:visited {
	text-decoration: none;
}

.vlogger-ytpl-playlist ul li a {
	display: block;
	padding: 10px;
}

.vlogger-ytpl-playlist ul li a .playlist-data:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.vlogger-ytpl-playlist ul li a .playlist-thumb {
	float: left;
	margin-right: 10px;
	width: 30%;
	height: auto;
}

.vlogger-ytpl-playlist ul li a .playlist-description-wrapper {
	width: 70%;
}

.vlogger-ytpl-playlist ul li a p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

.vlogger-ytpl-playlist ul li a p.playlist-title {
	color: #fff;
	font-size: 12px;
}

.vlogger-ytpl-playlist ul li a p.playlist-artist {
	color: #767676;
	font-size: 11px;
}

/**
 * 9.4 - Posts and pages
 */
.content-wrapper {
	padding: 35px 0 0;
}

.content-wrapper .left {
	padding-left: 0;
}

.content-wrapper .right {
	padding-right: 0;
}

.sticky .post-content, .sticky .post-list {
	border: 1px solid #cc181e;
}

.type-post, .type-attachment, .type-page, .type-product {
	padding-bottom: 35px;
}

img.wp-post-image {
	width: 100%;
	height: auto;
}

.post-content {
	padding: 35px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
}

.post-content img {
	height: auto;
}

.post-content .post-header ul.category-list {
	margin: 0 0 1.75em;
	width: 100%;
	line-height: 1.2em;
}

.post-content .post-header ul.category-list li {
	display: inline-block;
}

.post-content .post-header ul.category-list li a {
	padding: 0;
	text-transform: uppercase;
}

.post-content .post-header ul.category-list .category-list-separator {
	color: #cc181e;
	padding: 0 5px;
}

.post-content .post-header .post-title,
.post-content .post-header .post-title a {
	color: #262626;
	line-height: 1.6;
}

.post-content .post-header .post-title a:hover {
	text-decoration: none;
	color: #cc181e;
}

.post-content .post-header .post-meta {
	margin-top: 1.75em;
	font-size: 12px;
}

.page-links {
	margin: 0 0 1.75em;
}

.post-content .post-article a.read-more {
	text-transform: uppercase;
	padding: 10px 20px;
	background: #cc181e;
	color: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.post-content .post-article a.read-more:hover {
	background: #262626;
}

.post-content .post-article h1, .post-content .post-article h2, .post-content .post-article h3,
.post-content .post-article h4, .post-content .post-article h5, .post-content .post-article h6,
.comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 {
	margin-bottom: 20px;
}

.post-content .post-footer .tags-links:before {
	content: "\f02c";
	font-family: FontAwesome;
	float:left;
	display: inline-block;
	width: 20px;
}

.post-list {
	background-color: #fff;
	display: block;
	border: 1px solid #e3e3e3;
}

.post-list:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.post-list-thumb {
	height: 100%;
}

.post-list .post-content {
	border: none;
}

#breadcrumb {
	background: #262626;
	padding: 20px 0;
	color: #fff;
}

#breadcrumb ul#vlogger-breadcrumb {
	float: right;
	margin: 0;
}

#breadcrumb ul#vlogger-breadcrumb li {
	float: left;
	padding: 0 5px;
}

#breadcrumb ul#vlogger-breadcrumb li:first-child {
	padding-left: 0;
}

#breadcrumb ul#vlogger-breadcrumb li:last-child {
	padding-right: 0;
}

#breadcrumb ul#vlogger-breadcrumb li a {
	color: #fff;
}

.author-box {
	background: #262626;
	padding: 35px;
	color: #fff;
}

.author-box:after {
	content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.author-info {
	clear: both;
}

.author-avatar .avatar {
	float: left;
	height: 100px;
	margin: 0 1.75em 1.75em 0;
	width: 100px;
}

.author-description > :last-child {
	margin-bottom: 0;
}

.author-title {
	clear: none;
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;
	color: #fff;
}

.author-bio {
	font-size: 13px;
	overflow: hidden;
}

.author-link {
	white-space: nowrap;
}

.comments-title {
	padding: 35px;
	line-height: 1.75em;
	background: #fff;
	border: 1px solid #e3e3e3;
}

.comment-list {
	margin-left: 0;
}

.comments-area {
	padding: 0 15px;
}

.comments-area ol {
	list-style: none;
}

.comment-body {
	padding: 35px;
	background: #fff;
	border: 1px solid #e3e3e3;
	margin-bottom: 1.75em;
}

.bypostauthor > article .fn:after {
	content: "\f2bd";
	font-family:FontAwesome;
	left: 5px;
	position: relative;
}

.comment-content ul, .comment-content ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

.comment-meta:after {
	content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.comment-author.vcard .avatar {
	margin: 0 20px 20px 0;
	float: left;
}

.comment-metadata {
	font-size: 12px;
}

.comment-list .reply {
	text-align: right;
}

.comment-list .reply .comment-reply-link {
	padding: 5px 10px;
	background: #262626;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
}

.comment-list .reply .comment-reply-link:hover {
	background: #cc181e;
	text-decoration:none;
}

.comment-list .children {
	margin-left: 0 !important;
	padding-left: 35px;
}

.comment-list .children:before {
	content: "\f122";
	font-family: FontAwesome;
	float:left;
	display: inline-block;
	margin-left: -35px;
	width: 20px;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.comment-form {
	margin-bottom: 35px;
}

.comment-form p {
	margin-bottom: 10px;
}

.comment-form p.form-submit {
	margin-bottom:0;
}

.comment-form .logged-in-as {
	font-size: 12px;
}

.edit-link {
	margin-top: 20px;
	width: 100%;
	text-align: right;
}

.full-size-link {
	margin-top: 20px;
}

.archive-header {
	margin: 0 0 35px;
	padding: 35px;
	background: #fff;
	border: 1px solid #e3e3e3;
}

.taxonomy-description {
	margin-top: 20px;
}

.taxonomy-description p {
	margin-bottom: 0;
}

.page .post-meta p {
	display: none;
}

/**
 * 9.5 - Post Formats
 */
.home .format-aside .post-list, .home .format-aside .post-content,
.archive .format-aside .post-list, .archive .format-aside .post-content {
	background-color: #fff99d;
	color: #000;
	font-style: italic;
}

.home .format-status .post-list, .home .format-status .post-content,
.archive .format-status .post-list, .archive .format-status .post-content {
	background-color: #b3e1fb;
	color: #000;
}

.home .format-aside .post-content .post-header .post-meta, .home .format-status .post-content .post-header .post-meta,
.archive .format-aside .post-content .post-header .post-meta, .archive .format-status .post-content .post-header .post-meta {
	margin-top: 0;
}

.home .format-aside .post-content .post-article p, .home .format-status .post-content .post-article p,
.archive .format-aside .post-content .post-article p, .archive .format-status .post-content .post-article p {
	margin-bottom: 0;
}

.home .format-image p,
.archive .format-image p {
	margin-bottom: 0;
}

.home .format-image .post-content,
.archive .format-image .post-content {
	padding: 5px 10px;
}

.home a .format-image,
.archive a .format-image {
	color: #6b6b6b;
}

.home .format-video iframe,
.archive .format-video iframe {
	width: 100%;
	height: 430px;
	margin-bottom: -7px;
	position: relative;
}

.home .format-video .post-article iframe,
.archive .format-video .post-article iframe {
	margin-bottom: 1.75em;
}

.home .grid-layout iframe,
.archive .grid-layout iframe {
	height: 210px;
}

.home .format-quote .post-content,
.archive .format-quote .post-content {
	padding: 0;
}

.home .format-quote .post-content .post-article,
.archive .format-quote .post-content .post-article {
	padding: 50px;
	background: #cc181e;
	background: rgba(204, 24, 30, 0.6);
	color: #fff;
}

.home .format-quote .post-content .post-article .qoute-title,
.archive .format-quote .post-content .post-article .qoute-title {
	color: #fff;
	text-align: right;
}

.home .format-quote .post-content .post-article blockquote,
.archive .format-quote .post-content .post-article blockquote {
	color: #fff;
	border-color: #fff;
	font-size: 30px;
}

.home .format-link .post-content,
.archive .format-link .post-content {
	padding: 50px;
	background: #cc181e;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.home .format-link a:hover,
.archive .format-link a:hover {
	text-decoration:none;
}

.home .format-link a:hover .post-content,
.archive .format-link a:hover .post-content {
	background: #262626;
}

.home .format-audio .post-content,
.archive .format-audio .post-content {
	border-top: none;
}

.home .format-audio .audio-wrapper p,
.archive .format-audio .audio-wrapper p {
	margin-bottom: -10px;
	background: #fff;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.home .format-audio .audio-wrapper .wp-audio-shortcode,
.archive .format-audio .audio-wrapper .wp-audio-shortcode {
	margin-bottom: 0;
}

/**
 * 9.6 - Sidebar
 */
#sidebar {
	padding: 35px 30px;
	background: #fff;
	border: 1px solid #e3e3e3;
}

.widget {
	margin-bottom: 35px;
}

#sidebar .widget:last-of-type, #sidebar .widget:last-of-type ul {
	margin-bottom: 0;
}

.widget-title {
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #bfbfbf;
}

.widget-title:after {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 1px;
	width: 50px;
	background-color: #cc181e;
	content: '';
}

.widget ul {
	list-style: none;
}

.widget ul li:before {
	content: "\f101";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.25em;
	width: 1.25em;
}

table#wp-calendar {
	border: 1px solid #bfbfbf;
	width: 100%;
}

table#wp-calendar caption {
	font-weight: 700;
	width: 100%;
	text-align: center;
	color: #262626;
}

table#wp-calendar tfoot {
	border-top: 1px solid #bfbfbf;
}

table#wp-calendar th {
	background: #e8e8e8;
	text-align: center;
	color: #262626;
}

table#wp-calendar th, table#wp-calendar td {
	padding: 5px 10px;
	border: 1px solid #bfbfbf;
}

table#wp-calendar td {
	text-align: center;
}

.widget_archive select,
.widget_categories select {
	width: 100%;
	padding: 5px 10px;
}

/**
 * 9.6 - Footer
 */

#footer {
	margin-top: 35px;
}

#footer,
#footer-widget .widget_archive select,
#footer-widget .widget_categories select {
	background: #262626;
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #cc181e;
	text-decoration: none;
}

.copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#footer-widget {
	padding-top: 35px;
	border-bottom: 1px solid #fff;
}

#footer-widget ul {
	margin-bottom: 0;
}

#footer-widget .widget-title,
#footer-widget table#wp-calendar caption {
	color:#fff;
}

#footer-widget table#wp-calendar a {
	font-weight: 800;
}

#footer-widget .search-submit {
	background: #cc181e;
}

#footer-widget .calendar_wrap table {
	margin-bottom: 0;
}

/**
 * 10.0 - Media
 */

.site .avatar {
	border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
	display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode a,
.entry-content .wp-playlist a {
	box-shadow: none;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 0.7142857143em 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 0.7142857143em;
}


/**
 * 10.1 - Captions
 */

.wp-caption {
	margin-bottom: 0;
	max-width: 100%;
}

.home .wp-caption {
	background: #fff;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding: 20px;
}


/**
 * 10.2 - Galleries
 */

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 11.0 - Multisites
 */

.widecolumn {
	margin-bottom: 3.5em;
	padding: 0 7.6923%;
}

.widecolumn .mu_register {
	width: auto;
}

.widecolumn .mu_register .mu_alert {
	background: transparent;
	border-color: #d1d1d1;
	color: inherit;
	margin-bottom: 3.5em;
	padding: 1.75em;
}

.widecolumn form,
.widecolumn .mu_register form {
	margin-top: 0;
}

.widecolumn h2 {
	font-size: 23px;
	font-weight: 900;
	line-height: 1.2173913043;
	margin-bottom: 1.2173913043em;
}

.widecolumn p {
	margin: 1.75em 0;
}

.widecolumn p + h2 {
	margin-top: 2.4347826087em;
}

.widecolumn label,
.widecolumn .mu_register label {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	text-transform: uppercase;
}

.widecolumn .mu_register label {
	margin: 2.1538461538em 0.7692307692em 0.5384615385em 0;
}

.widecolumn .mu_register label strong {
	font-weight: 400;
}

.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
	font-size: 16px;
	width: 100%;
}

.widecolumn .mu_register #blogname {
	margin: 0;
}

.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
	margin: 0 0 0.375em;
}

.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
	font-size: 16px;
	margin: 0;
	width: auto;
}

.widecolumn .mu_register .prefix_address,
.widecolumn .mu_register .suffix_address {
	font-size: inherit;
}

.widecolumn .mu_register > :last-child,
.widecolumn form > :last-child {
	margin-bottom: 0;
}

/**
 * 12.0 - Media Query
 */

/* 12.1 - Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
	
	.flexslider, .flexslider .slides img {
		height: 400px;
	}
	
	.flexslider .flexslider-caption {
		top: 100px;
		margin-left: 180px;
		max-width: 750px;
	}
	
	.vlogger-ytpl-player iframe {
		height: 355px;
	}
	
	.vlogger-ytpl-playlist ul {
		max-height: 355px;
	}
	
	.format-video iframe {
		height: 320px;
	}

	
}

/* 12.2 - Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {
	
	.top-menu-wrapper .slicknav_menu, .primary-menu-wrapper .slicknav_menu {
		display: block;
	}
	
	.header-banner-wrapper {
		margin-top: 20px;
	}
	
	.flexslider, .flexslider .slides img {
		height: 350px;
	}
	
	.flexslider .flexslider-caption {
		top: 70px;
		margin-left: 50px;
		max-width: 700px;
	}
	
	.vlogger-ytpl-player iframe {
		height: 238px;
	}
	
	.vlogger-ytpl-playlist ul {
		max-height: 238px;
	}
	
	#sidebar {
		margin-top: 35px;
	}
	
	.content-wrapper .left {
		padding-left: 15px;
	}
	
	.content-wrapper .right {
		padding-right: 15px;
	}
	
	.format-video iframe {
		height: 420px;
	}
	
}

/* 12.3 - Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
	
	.top-menu-wrapper .slicknav_menu, .primary-menu-wrapper .slicknav_menu {
		display: block;
	}
	
	.header-banner-wrapper {
		margin-top: 20px;
	}
	
	.flexslider, .flexslider .slides img {
		height: 300px;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}
	
	.flexslider:hover .flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}
	
	.flexslider .flexslider-caption {
		top:auto;
		bottom: 60px;
		margin-left: 0;
		width:auto;
	}
	
	.flexslider .flexslider-caption .flexslider-title {
		font-size: 18px;
		width:400px;
		line-height: 1.6em;
	}
	
	.flexslider .flexslider-caption .flexslider-excerpt {
		display: none;
	}
	
	.vlogger-ytpl-header {
		padding: 0 15px 20px;
	}
	
	.vlogger-ytpl-player {
		padding-right: 0;
	}
	
	.vlogger-ytpl-player iframe {
		height: 300px;
	}
	
	#sidebar {
		margin-top: 35px;
	}
	
	.content-wrapper .left {
		padding-left: 15px;
	}
	
	.content-wrapper .right {
		padding-right: 15px;
	}
	
	.post-navigation .nav-previous,
	.post-navigation .nav-next {
		width: 100%;
	}
	
	.post-navigation .nav-previous a,
	.post-navigation .nav-next a {
		display: block;
		width: 100%;
	}
	
	.post-navigation .nav-previous {
		margin-bottom: 5px;
	}
	
	.post-navigation .nav-next {
		margin-top: 5px;
	}
	
	#breadcrumb ul#vlogger-breadcrumb {
		padding: 0 15px;
	}
	
	.format-video iframe {
		height: 330px;
	}

}

/* 12.4 - Extra Small Devices */
@media only screen and (max-width: 480px) {
	
	.top-menu-wrapper .slicknav_menu, .primary-menu-wrapper .slicknav_menu {
		display: block;
	}
	
	.header-banner-wrapper {
		margin-top: 20px;
	}
	
	.flexslider, .flexslider .slides img {
		height: 250px;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}
	
	.flexslider:hover .flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}
	
	.flexslider .flexslider-caption {
		top:auto;
		bottom: 60px;
		margin-left: 0;
		width:auto;
	}
	
	.flexslider .flexslider-caption .flexslider-title {
		width:250px;
		line-height: 1.6em;
		font-size: 14px;
	}
	
	.flexslider .flexslider-caption .flexslider-excerpt {
		display: none;
	}
	
	.vlogger-ytpl-header {
		padding: 0 15px 20px;
	}
	
	.vlogger-ytpl-player {
		padding-right: 0;
	}
	
	.vlogger-ytpl-player iframe {
		height: 250px;
	}
	
	#sidebar {
		margin-top: 35px;
	}
	
	.content-wrapper .left {
		padding-left: 15px;
	}
	
	.content-wrapper .right {
		padding-right: 15px;
	}
	
	.pagination {
		margin: -5px 0;
	}
	
	.pagination .page-numbers {
		display: inline-block;
		clear: both;
		margin: 5px 0;
	}
	
	.post-navigation .nav-previous,
	.post-navigation .nav-next {
		width: 100%;
	}
	
	.post-navigation .nav-previous a,
	.post-navigation .nav-next a {
		display: block;
		width: 100%;
	}
	
	.post-navigation .nav-previous {
		margin-bottom: 5px;
	}
	
	.post-navigation .nav-next {
		margin-top: 5px;
	}
	
	#breadcrumb ul#vlogger-breadcrumb {
		padding: 0 15px;
	}
	
	.format-video iframe {
		height: 200px;
	}

}